* {
    box-sizing: border-box;
    font-size: (80vw*(1/var(--size)));
  }
  
  body {
    margin: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: calc(80vw*(1/var(--size)));
    flex-direction: column;
    color: white;
  }
  
  .title {
    margin: 20px;
  }
  
  .subtext {
    color: #CCC;
    font-size: calc(80vw*(1/var(--size)));
    margin-bottom: 10px;
  }
  
  .board {
    display: inline-grid;
    padding: calc(80vw*(1/var(--size))*0.2);
    grid-template-columns: repeat(var(--size), calc(90vw*(1/var(--size))));
    grid-template-rows: repeat(var(--size), calc(90vw*(1/var(--size))));
    gap: calc(80vw*(1/var(--size))*0.05);
    background-color: #777;
    max-width:90vh;
    max-height90vh:
  }
  
  .board > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #777;
    user-select: none;
    max-width: 100vw;
    max-height: 100vh;
  }
  
  .board > [data-status="hidden"] {
    background-color: #BBB;
    cursor: pointer;
  }
  
  .board > [data-status="mine"] {
    background-color: red;
  }
  
  .board > [data-status="number"] {
    background-color: green;
  }
  
  .board > [data-status="flag"] {
    background-color: rgb(17, 0, 255);
  }
  .board > [data-status="qflag"] {
    background-color: yellow;
    
  }

  @media screen and (max-width:425px) {

    /* .board {
    display: inline-grid;
    padding: calc(80vw*(1/var(--size))*0.2);
    grid-template-columns: repeat(var(--size), calc(90vh*(1/var(--size))));
    grid-template-rows: repeat(var(--size), calc(90vh*(1/var(--size))));
    gap: calc(80vw*(1/var(--size))*0.05);
    background-color: #777;
  } */
  }
